<style scoped>
  .Template {
    width: 100%;
    height: 100%;
  }

  .Template--title {
    position: relative;
    height: 700px;
  }

  .Template--titleText {
    text-transform: uppercase;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, .7);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 20px;
  }

  .Template--menu {
    position: relative;
    background: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Template--navigation {
    position: relative;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    padding: 32px 16px;
  }

  .Template--navigation:hover {
    color: rgba(255, 255, 255, 1);
  }

  .Template--navigation:hover .Template--subNavigation {
    opacity: 1;
    transition: opacity 300ms;
  }

  .Template--subNavigation {
    z-index: 999;
    opacity: 0;
    background: white;
    position: absolute;
    width: 200px;
    left: 50%;
    top: 64px;
    margin-left: -100px;
    padding: 16px;
    border-radius: 4px;
    text-transform: capitalize;
  }

  .Template--subNavigation-link {
    display: inherit;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 16px;
  }

  .Template--subNavigation-link:hover {
    color: #66D37E;
  }

  .Template--subNavigation .Template--subNavigation-link:last-child {
    padding-bottom: 0;
  }

  .Template--mask {
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Template--body {
    padding: 128px;
  }

  .Template--page {
    background: rgba(0, 0, 0, 0.9);
    padding: 32px 128px;
    text-align: center;
    color: #66D37E;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Template--footer {
    background: rgba(0, 0, 0, 0.9);
    height: 400px;
    color: #66D37E;
  }
</style>
<template>
  <div class="Template">
    <div class="Template--menu" v-if="menu">
      <div class="flex">
        <router-link v-for="(navigation,i) in menu.navigations"
                     :key="i"
                     class="Template--navigation"
                     :to="'/template/' + navigation.url">
          <div :style="{color: navigation.url === $route.params.url_simple ? primary: 'inherit'}">{{navigation.title}}
          </div>
          <div class="Template--subNavigation"
               v-show="navigation.subNavigations.length">
            <router-link
              class="Template--subNavigation-link"
              v-for="(subNavigation,i) in navigation.subNavigations"
              :key="i"
              :style="{color: subNavigation.url === $route.params.url_simple ? primary: 'rgba(0, 0, 0, 0.5)'}"
              :to="'/template/' + subNavigation.url">
              {{subNavigation.title}}
            </router-link>
          </div>
        </router-link>
      </div>
    </div>
    <div class="Template--title">
      <v-image src="/static/background.jpg"></v-image>
      <div class="Template--mask"></div>
      <div class="Template--titleText">Upscale Network</div>
    </div>
    <div class="Template--page">{{page.title}}</div>
    <div class="Template--body" v-html="page.content"></div>
    <div class="Template--footer flex">
      2018 copyright - upscale network
    </div>
  </div>
</template>
<script>
  import PageApi from "../../api/page/PageApi";
  import MenuApi from "../../api/menu/MenuApi";
  import PageType from "../../type/page/PageType";

  export default {
    props: [],
    data() {
      return {
        primary: "#66D37E",
        page: new PageType(),
        menu: null
      }
    },
    watch: {
      "$route.params.url_simple": function () {
        this.loadPage();
      }
    },
    mounted() {
      Promise.all([
        new PageApi().pageByUrl({url_simple: this.$route.params.url_simple}),
        new MenuApi().select({id_menu: "1"})
      ])
        .then(res => {
          this.page = new PageType(res[0].data[0]);
          this.menu = JSON.parse(res[1].data[0].json);
        })
        .catch(err => {
          console.error(err);
          this.$Notice.error({
            title: "Erreur",
            desc: "Il ya eu un problème lors de la récupération des données"
          });
        });
    },
    methods: {
      loadPage() {
        new PageApi().pageByUrl({url_simple: this.$route.params.url_simple})
          .then(res => {
            console.log(res);
            this.page = res.data[0];
          })
          .catch(err => {
            console.error(err);
            this.$Notice.error({
              title: "Erreur",
              desc: "Il ya eu un problème lors de la récupération des données"
            });
          });
      }
    }
  }
</script>
