<style>
    .breadcrum {
    }
</style>

<template>
    <div class="breadcrum">
        <Breadcrumb>
            <BreadcrumbItem to="/">
                <Icon type="ios-home-outline"></Icon>
                Home
            </BreadcrumbItem>
            <BreadcrumbItem to="/components/breadcrumb">
                <Icon type="social-buffer-outline"></Icon>
                <div slot="module">
                    {{$router.history.current.name}}
                </div>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <Icon type="pound"></Icon>
                {{$router.history.current.name}}
            </BreadcrumbItem>
        </Breadcrumb>
    </div>
</template>

<script>
    export default {
        props: [],
        data() {
        },
        mounted() {
        },
        methods: {}
    }
</script>