<style scoped>
    .Menu {
        width: 100%;
        height: 100%;
    }
</style>
<template>
    <div class="Menu">
        <Menu theme="dark" :active-name="activeName">
            <router-link to="/home">
                <MenuItem name="/home">
                    <Icon type="help-buoy"></Icon>
                    Dashboard
                </MenuItem>
            </router-link>
            <Submenu name="modules">
                <template slot="title">
                    <Icon type="grid"></Icon>
                    Modules
                </template>
                <router-link to="/module-page">
                    <MenuItem name="/module-page">
                        <Icon type="android-document"></Icon>
                        <span>Page</span>
                    </MenuItem>
                </router-link>
                <router-link to="/module-role">
                    <MenuItem name="/module-role">
                        <Icon type="android-document"></Icon>
                        <span>Rôle</span>
                    </MenuItem>
                </router-link>
                <router-link to="/module-menu">
                    <MenuItem name="/module-menu">
                        <Icon type="navicon-round"></Icon>
                        <span>Menu</span>
                    </MenuItem>
                </router-link>
                <router-link to="/module-user">
                    <MenuItem name="/module-user">
                        <Icon type="person-stalker"></Icon>
                        <span>Utilisateur</span>
                    </MenuItem>
                </router-link>
            </Submenu>
            <router-link to="/settings">
                <MenuItem name="/settings">
                    <Icon type="gear-b"></Icon>
                    Settings
                </MenuItem>
            </router-link>
        </Menu>
    </div>
</template>
<script>
    export default {
        props: [],
        data() {
            return {
                activeName: this.$router.history.current.path
            }
        },
        mounted() {
        },
        methods: {}
    }
</script>