<style scoped>
    .Connexion {
        text-align: center;
        width: 300px;
        height: 335px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -150px;
        margin-top: -268px; /* -100px */
    }
</style>
<template>
    <div class="Connexion">
        <img style="width: 100%;" src="static/logo.png">
        <br>
        <br>
        <Card>
            <i-input v-model="username" placeholder="Username"></i-input>
            <br>
            <br>
            <i-input v-model="password" type="password" placeholder="Password"></i-input>
            <br>
            <br>
            <i-button @click="connect()" type="primary" icon="power">Login</i-button>
        </Card>
    </div>
</template>
<script>
    import UserApi from "../api/user/UserApi";
    import UserType from "../type/user/UserType";
    export default {
        name: 'Connexion',
        data() {
            return {
                username: "",
                password: "",
                // username: "melvin.duvauchelle@gmail.com",
                // password: "marvynmarvyn"
            }
        },
        mounted() {
        },
        created() {
        },
        methods: {
            connect() {
                new UserApi().auth({
                    email: this.username,
                    password: this.password,
                }).then(res => {
                    let user = new UserType(res.data);
                    this.$Notice.success({
                        title: 'Connexion',
                        desc: 'Votre connexion a bien été établie'
                    });
                    this.$store.commit('user', user);
                    this.$store.commit('authenticated', true);
                    this.$router.push('home');
                }).catch(err => {
                    this.$Notice.error({
                        title: 'Erreur',
                        desc: 'Votre username ou mot de passe sont faux'
                    });
                });
            }
        }
    }
</script>
