<style scoped>
    .Home {
    }
</style>
<template>
    <v-page>
        <div class="Home">

        </div>
    </v-page>
</template>
<script>
    export default {
        name: 'Home',
        data() {
            return {}
        },
        mounted() {
        },
        created() {
        },
        methods: {}
    }
</script>