<style scoped>
    .ModuleRole {
    }

    #searchbar {
        float: right;
    }
</style>

<template>
    <v-page>
        <Breadcrumb>
            <BreadcrumbItem to="/">
                <Icon type="ios-home-outline"></Icon>
                Home
            </BreadcrumbItem>
            <BreadcrumbItem>
                <Icon type="social-buffer-outline"></Icon>
                Modules
            </BreadcrumbItem>
            <BreadcrumbItem to="module-role">
                <Icon type="pound"></Icon>
                Role
            </BreadcrumbItem>
        </Breadcrumb>
        <br>
        <div class="ModuleRole">
            <router-link to="/module-role/create">
                <i-button type="primary" icon="plus-circled">Nouveau rôle</i-button>
            </router-link>
            <v-searchbar id="searchbar" :datas="roles" :datareturned="onsearch" :params="['name']"></v-searchbar>
            <br/>
            <br/>
            <v-table>
                <v-table-head>
                    <v-line>
                        <v-column>#</v-column>
                        <v-column>Nom</v-column>
                        <v-column>Action</v-column>
                    </v-line>
                </v-table-head>
                <v-table-body>
                    <v-line v-for="(role, index_role) in datasearch" :key="role.id">
                        <v-column>{{role.id}}</v-column>
                        <v-column>{{role.name}}</v-column>
                        <v-column>
                            <router-link :to="'/module-role/' + role.id">
                                <i-button size="small" type="primary">Modifier</i-button>
                            </router-link>
                            <i-button @click="_delete(role, index_role)" size="small" type="error">Supprimer</i-button>
                        </v-column>
                    </v-line>
                </v-table-body>
            </v-table>
        </div>
    </v-page>
</template>
<script>
    import RoleApi from "../api/role/RoleApi";
    import RoleType from "../type/role/RoleType";
    import Type from "../type/Type";

    export default {
        props: [],
        data() {
            return {
                roles: [],
                datasearch: []
            };
        },
        mounted() {
            this.init()
        },
        methods: {
            _delete(role, index_page) {
                new RoleApi()
                    .delete(role.toBack())
                    .then(res => {
                        this.$Notice.success({
                            title: "Validation",
                            desc: "Votre role a bien été supprimé"
                        });
                        this.init();
                    })
                    .catch(err => {
                        console.error(err);
                        this.$Notice.error({
                            title: "Erreur",
                            desc: "Il ya eu un problème lors de la suppression"
                        });
                    });
            },
            onsearch(datasearch) {
                this.datasearch = datasearch;
            },

            init() {
                let promiseRole = new RoleApi().select();
                let promises = [promiseRole];

                Promise.all(promises)
                    .then(res => {
                        this.roles = new Type().collection(res[0].data, RoleType);
                        this.datasearch = new Type().collection(res[0].data, RoleType);
                    })
                    .catch(err => {
                        console.error(err);
                        this.$Notice.error({
                            title: "Erreur",
                            desc: "Il ya eu un problème lors de la récupération des données"
                        });
                    });
            }
        }
    };
</script>
