<style scoped>
    .ModulePage {
    }

    #searchbar {
        float: right;
    }
</style>

<template>
    <v-page>
        <div class="ModulePage">
            <Breadcrumb>
                <BreadcrumbItem to="/">
                    <Icon type="ios-home-outline"></Icon>
                    Home
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <Icon type="social-buffer-outline"></Icon>
                    Modules
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <Icon type="pound"></Icon>
                    Page
                </BreadcrumbItem>
            </Breadcrumb>
            <br>
            <router-link to="/module-page/create">
                <i-button type="primary" icon="plus-circled">Nouvelle page</i-button>
            </router-link>
            <v-searchbar id="searchbar" :datas="pages" :datareturned="onsearch" :params="['title']"></v-searchbar>
            <br/>
            <br/>
            <v-table>
                <v-table-head>
                    <v-line>
                        <v-column>#</v-column>
                        <v-column>Titre</v-column>
                        <v-column>Action</v-column>
                    </v-line>
                </v-table-head>
                <v-table-body>
                    <v-line v-for="(page, index_page) in datasearch" :key="page.id">
                        <v-column>{{page.id}}</v-column>
                        <v-column>{{page.title}}</v-column>
                        <v-column>
                            <router-link :to="'/template/' + page.urlsimple">
                                <i-button size="small" type="primary">Prévisualiser</i-button>
                            </router-link>
                            <router-link :to="'/module-page/' + page.id">
                                <i-button size="small" type="primary">Modifier</i-button>
                            </router-link>
                            <i-button @click="_delete(page, index_page)" size="small" type="error">Supprimer</i-button>
                        </v-column>
                    </v-line>
                </v-table-body>
            </v-table>
        </div>
    </v-page>
</template>
<script>
    import PageApi from "../api/page/PageApi";
    import PageType from "../type/page/PageType";
    import Type from "../type/Type";

    export default {
        props: [],
        data() {
            return {
                pages: [],
                datasearch: []
            };
        },
        mounted() {
            this.init()
        },
        methods: {
            _delete(page, index_page) {
                new PageApi()
                    .delete(page.toBack())
                    .then(res => {
                        this.$Notice.success({
                            title: "Validation",
                            desc: "Votre page a bien été supprimé"
                        });
                        this.init();
                    })
                    .catch(err => {
                        console.error(err);
                        this.$Notice.error({
                            title: "Erreur",
                            desc: "Il ya eu un problème lors de la suppréssion"
                        });
                    });
            },
            onsearch(datasearch) {
                this.datasearch = datasearch;
            },

            init() {
                let promisePage = new PageApi().select();
                let promises = [promisePage];

                Promise.all(promises)
                    .then(res => {
                        this.pages = new Type().collection(res[0].data, PageType);
                        this.datasearch = new Type().collection(res[0].data, PageType);
                    })
                    .catch(err => {
                        console.error(err);
                        this.$Notice.error({
                            title: "Erreur",
                            desc: "Il ya eu un problème lors de la récupération des données"
                        });
                    });
            }
        }
    };
</script>
