<style scoped>
  .ModuleUser {
  }

  .role-select {
    display: flex;
    flex-direction: row;
  }

  .add-role-button {
    margin-left: 3%;
  }

  #searchbar {
    float: right;
  }
</style>
<template>
  <v-page>
    <Breadcrumb>
      <BreadcrumbItem to="/">
        <Icon type="ios-home-outline"></Icon>
        Home
      </BreadcrumbItem>
      <BreadcrumbItem>
        <Icon type="social-buffer-outline"></Icon>
        Modules
      </BreadcrumbItem>
      <BreadcrumbItem to="/module-user">
        <Icon type="pound"></Icon>
        User
      </BreadcrumbItem>
    </Breadcrumb>
    <br>
    <div class="ModuleUser">
      <i-button @click="openInsert()" type="primary" icon="plus-circled">Créer</i-button>
      <v-searchbar id="searchbar" :datas="users" :datareturned="onsearch" :params="['lastName','firstName','email']"></v-searchbar>
      <br/>
      <br/>
      <v-table>
        <v-table-head>
          <v-line>
            <v-column>#</v-column>
            <v-column>Prénom</v-column>
            <v-column>Nom</v-column>
            <v-column>Email</v-column>
            <v-column>Sexe</v-column>
            <v-column>Actif</v-column>
            <v-column>Role</v-column>
            <v-column>Action</v-column>
          </v-line>
        </v-table-head>
        <v-table-body>
          <v-line v-for="user in datasearch" :key="user.id">
            <v-column>{{user.id}}</v-column>
            <v-column>{{user.firstName}}</v-column>
            <v-column>{{user.lastName}}</v-column>
            <v-column>{{user.email}}</v-column>
            <v-column>{{user.gender}}</v-column>
            <v-column>
              <i-switch v-model="user.active" @on-change="updateActive(user)"></i-switch>
            </v-column>
            <v-column>{{getRole(user.role_id)}}</v-column>
            <v-column>
              <i-button @click="select(user)" size="small" type="primary">Voir</i-button>
              <i-button @click="_delete(user)" size="small" type="error">Supprimer</i-button>
            </v-column>
          </v-line>
        </v-table-body>
      </v-table>
      <Modal v-model="modalInsert"
             title="Utilisateur"
             ok-text="créer"
             cancel-text="fermer"
             @on-ok="insert">
        <i-input v-model="user.firstName" placeholder="prénom" style="width: 100%"></i-input>
        <br/>
        <br/>
        <i-input v-model="user.lastName" placeholder="nom" style="width: 100%"></i-input>
        <br/>
        <br/>
        <i-input v-model="user.email" placeholder="email" style="width: 100%"></i-input>
        <br/>
        <br/>
        <i-select placeholder="sexe" v-model="user.gender" style="width:100%">
          <i-option v-for="gender in genders" :value="gender" :key="gender">{{ gender }}</i-option>
        </i-select>
        <br/>
        <br/>
        <i-input type="password" v-model="user.password" placeholder="password" style="width: 100%"></i-input>
        <br/>
        <br/>
        <div class="role-select">
          <i-select placeholder="role" v-model="user.role_id" style="width:100%">
            <i-option v-for="role in roles" :value="role.id" :key="role.id">{{ role.name }}</i-option>
          </i-select>
          <Button @click="openInsertRole()" type="primary" icon="plus" class="add-role-button">Rôle</Button>
        </div>
      </Modal>
      <Modal v-model="modal"
             title="Utilisateur"
             ok-text="modifier"
             cancel-text="fermer"
             @on-ok="udpate">
        <i-input v-model="user.firstName" placeholder="prénom" style="width: 100%"></i-input>
        <br/>
        <br/>
        <i-input v-model="user.lastName" placeholder="nom" style="width: 100%"></i-input>
        <br/>
        <br/>
        <i-input v-model="user.email" placeholder="email" style="width: 100%"></i-input>
        <br/>
        <br/>
        <i-select placeholder="sexe" v-model="user.gender" style="width:100%">
          <i-option v-for="gender in genders" :value="gender" :key="gender">{{ gender }}</i-option>
        </i-select>
        <br/>
        <br/>
        <i-input type="password" v-model="user.password" placeholder="password" style="width: 100%"></i-input>
        <br/>
        <br/>
        <div class="role-select">
          <i-select placeholder="role" v-model="user.role_id" style="width:100%">
            <i-option v-for="role in roles" :value="role.id" :key="role.id">{{ role.name }}</i-option>
          </i-select>
          <Button @click="openInsertRole()" type="primary" icon="plus" class="add-role-button">Rôle</Button>
        </div>
      </Modal>
      <Modal v-model="modalInsertRole"
             title="Role"
             ok-text="créer"
             cancel-text="fermer"
             @on-ok="insertRole">
        <i-input v-model="role.name" placeholder="Nom" style="width: 100%"></i-input>
      </Modal>
    </div>
  </v-page>
</template>
<script>
  import UserApi from "../api/user/UserApi";
  import RoleApi from "../api/role/RoleApi";
  import UserType from "../type/user/UserType";
  import RoleType from "../type/role/RoleType";
  import Type from "../type/Type";

  export default {
    props: [],
    data() {
      return {
        user: new UserType(),
        modalInsert: false,
        modalInsertRole: false,
        modal: false,
        role: {name: ''},
        users: [],
        roles: [],
        genders: [
          "Mr", "Mme", "Mlle"
        ],
        datasearch: []
      }
    },
    mounted() {
      let promiseUsers = new UserApi().select();
      let promiseRoles = new RoleApi().select();

      let promises = [promiseUsers, promiseRoles];

      Promise.all(promises).then(res => {
        this.users = new Type().collection(res[0].data, UserType);
        this.users = this.users.filter(user => !user.deleted);
        this.roles = new Type().collection(res[1].data, RoleType);
        this.datasearch = new Type().collection(res[0].data, UserType);
        this.datasearch = this.users.filter(user => !user.deleted);
      }).catch(err => {
        console.error(err);
        this.$Notice.error({
          title: 'Erreur',
          desc: 'Il ya eu un problème lors de la récupération des données'
        });
      });

      this.$on("on-change", (a, b, c) => {
        console.log(a, b, c);
      })
    },
    methods: {
      openInsert() {
        this.modalInsert = true;
      },
      openInsertRole() {
        this.modalInsertRole = true;
      },
      insert() {
        new UserApi().insert(this.user.toBack()).then(res => {
          this.$Notice.success({
            title: 'Modification',
            desc: "L'utilisateur a été créé avec succés"
          });
          this.getUsers();
          this.user = new UserType();
        }).catch(err => {
          this.$Notice.error({
            title: 'Modification',
            desc: err.data
          });
          console.error(err);
        });
      },
      insertRole() {
        new RoleApi().insert(this.role).then(res => {
          this.$Notice.success({
            title: 'Modification',
            desc: "Le role a été créé avec succés"
          });
          this.getRoles();
        }).catch(err => {
          this.$Notice.error({
            title: 'Modification',
            desc: err.data
          });
          console.error(err);
        });
      },
      udpate() {
        new UserApi().update(this.user.toBack()).then(res => {
          this.$Notice.success({
            title: 'Modification',
            desc: "L'utilisateur a été modifié avec succés"
          });
          this.getUsers();
        }).catch(err => {
          this.$Notice.error({
            title: 'Modification',
            desc: err.data
          });
          console.error(err);
        });
      },
      getRole(role_id) {
        let roleName = null;
        this.roles.map(role => {
          if (role.id === role_id) roleName = role.name;
        });
        return roleName;
      },
      _delete(user) {
        this.$Modal.error({
          title: 'Suppréssion',
          okText: "Oui",
          cancelText: "Non",
          onOk: () => {
            new UserApi().delete(user.toBack()).then(res => {
              this.$Notice.success({
                title: 'Modification',
                desc: "L'utilisateur a été supprimé avec succés"
              });
              this.getUsers();
            }).catch(err => {
              this.$Notice.error({
                title: 'Modification',
                desc: err.data
              });
              console.error(err);
            });
          },
          content: "Supprimer cette utilisateur ?"
        })
      },
      updateActive(user) {
        new UserApi().update({is_active: user.active ? 1 : 0, id_user: user.id}).then(res => {
          this.$Notice.success({
            title: 'Modification',
            desc: "L'utilisateur a été modifié avec succés"
          });
          this.getUsers();
        }).catch(err => {
          this.$Notice.error({
            title: 'Modification',
            desc: err.data
          });
          console.error(err);
        });

      },
      select(user) {
        this.modal = true;
        this.user = user;
      },
      getUsers() {
        new UserApi().select().then(res => {
          this.users = res.data.filter(user => user.is_deleted === "0");
          this.datasearch = new Type().collection(this.users, UserType);
        }).catch(err => {
          this.$Notice.error({
            title: 'Modification',
            desc: err.data
          });
          console.error(err);
        });
      },
      getRoles() {
        new RoleApi().select().then(res => {
          this.roles = new Type().collection(res.data, RoleType);
        }).catch(err => {
          this.$Notice.error({
            title: 'Modification',
            desc: err.data
          });
          console.error(err);
        });
      },
      onsearch(datasearch) {
        this.datasearch = datasearch;
      }
    }
  }
</script>
