<style scoped>
    .ModuleMenu {
    }

    .ModuleMenu--body {
        display: flex;
    }

    .ModuleMenu--navigation {
        color: white;
        position: relative;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        padding: 16px;
        align-items: center;
        justify-content: center;
        border-right: solid 1px rgba(0, 0, 0, 0.2);
    }

    .ModuleMenu--navigation:last-child {
        cursor: pointer;
    }

    .ModuleMenu--navigation:hover {
        background: rgba(0, 0, 0, 0.65);
    }

    .ModuleMenu--navigation:hover .ModuleMenu--subNavigation {
        display: block;
    }

    .ModuleMenu--subNavigation {
        position: absolute;
        top: 62px;
        width: 100%;
        display: none;
        background: rgba(0, 0, 0, 0.8);
        margin-right: 8px;
    }

    .ModuleMenu--subNavigationItem {
        display: flex;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: space-between
    }

    .ModuleMenu--subNavigationMove {
        padding: 0px 16px;
        color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }

    .ModuleMenu--subNavigationMove i:hover {
        color: rgba(255, 255, 255, 0.7);
    }

    .ModuleMenu--button {
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 30px;
        line-height: 30px;
        border-radius: 4px;
        cursor: pointer;
    }

    .ModuleMenu--over:hover {
        opacity: 0.7;
    }

    .ModuleMenu--pointer {
        cursor: pointer;
    }

    .ModuleMenu--delete {
        color: red;
    }

    .ModuleMenu--edit {
        color: #2F9DF2;
    }

    .ModuleMenu--space {
        width: 16px;
        height: 16px;
    }
</style>

<template>
    <v-page>
        <Breadcrumb>
            <BreadcrumbItem to="/">
                <Icon type="ios-home-outline"></Icon>
                Home
            </BreadcrumbItem>
            <BreadcrumbItem>
                <Icon type="social-buffer-outline"></Icon>
                Modules
            </BreadcrumbItem>
            <BreadcrumbItem>
                <Icon type="pound"></Icon>
                Menu
            </BreadcrumbItem>
        </Breadcrumb>
        <br>
        <div class="ModuleMenu--body">
            <div class="ModuleMenu--navigation" v-for="(navigation, i) in menu.navigations">
                <div @click="left(i)" class="ModuleMenu--button ModuleMenu--over">
                    <Icon type="arrow-left-b"></Icon>
                </div>
                <div class="ModuleMenu--space"></div>
                {{navigation.title}}
                <div class="ModuleMenu--space"></div>
                <div @click="open('editNavigation', i)"
                     class="ModuleMenu--edit ModuleMenu--over ModuleMenu--pointer">
                    <Icon type="edit"></Icon>
                </div>
                <div class="ModuleMenu--space"></div>
                <div @click="deleteNavigation(i)" class="ModuleMenu--delete ModuleMenu--over ModuleMenu--pointer">
                    <Icon type="close"></Icon>
                </div>
                <div class="ModuleMenu--space"></div>
                <div @click="right(i)" class="ModuleMenu--button ModuleMenu--over">
                    <Icon type="arrow-right-b"></Icon>
                </div>
                <div class="ModuleMenu--subNavigation">
                    <div class="ModuleMenu--subNavigationItem" v-for="(subNavigation, j) in navigation.subNavigations">
                        <div class="ModuleMenu--subNavigationMove">
                            <div @click="top(i, j)">
                                <Icon type="arrow-up-b"></Icon>
                            </div>
                            <div @click="bottom(i, j)">
                                <Icon type="arrow-down-b"></Icon>
                            </div>
                        </div>
                        <div>
                            {{subNavigation.title}}
                        </div>
                        <div class="ModuleMenu--subNavigationMove">
              <span @click="open('editSubNavigation', i, j)">
                <Icon type="edit"></Icon>
              </span>
                            <span @click="deleteSubNavigation(i, j)">
                <Icon type="close"></Icon>
              </span>
                        </div>
                    </div>
                    <div class="ModuleMenu--subNavigationItem" @click="open('addSubNavigation', i)"
                         style="padding:8px;">
                        <Button type="primary" long>Ajouter</Button>
                    </div>
                </div>
            </div>
            <div @click="open('addNavigation')" class="ModuleMenu--navigation">
                <Icon type="plus"></Icon>
            </div>
        </div>

        <Modal v-model="modal"
               title="Menu"
               ok-text="valider"
               cancel-text="fermer"
               @on-cancel="onCancel"
               @on-ok="onOk">
            <i-input v-model="type.title" placeholder="Nom" style="width: 100%"></i-input>
            <br>
            <br>
            <i-input v-model="type.url" placeholder="Url" style="width: 100%"></i-input>
        </Modal>
        <br/>
        <br/>
        <Button type="primary" @click="save" :loading="loading">Sauvegarder</Button>
    </v-page>
</template>
<script>
    import MenuApi from "../api/menu/MenuApi";

    export default {
        props: [],
        data() {
            return {
                style: {},
                loading: false,
                modal: false,
                type: {
                    title: "",
                    url: "",
                    subNavigations: []
                },
                onOk: () => {
                    console.log("onOk")
                },
                onCancel: () => {
                    console.log("onCancel");
                    this.clean();
                    this.close();
                },
                menu: {
                    navigations: [
                        {
                            title: "home",
                            url: "",
                            subNavigations: []
                        },
                        {
                            title: "informatique",
                            url: "",
                            subNavigations: [
                                {
                                    url: "",
                                    title: "ecrans",
                                    subNavigations: []
                                },
                                {
                                    url: "",
                                    title: "manette",
                                    subNavigations: []
                                },
                                {
                                    url: "",
                                    title: "console",
                                    subNavigations: []
                                }
                            ]
                        }
                    ]
                }
            };
        },
        mounted() {
            this.fetch()
        },
        methods: {
            fetch() {
                Promise.all([
                    new MenuApi().select({id_menu: "1"})
                ])
                    .then(res => {
                        this.menu = JSON.parse(res[0].data[0].json);
                        console.log(res);
                    })
                    .catch(err => {
                        console.error(err);
                        this.$Notice.error({
                            title: "Erreur",
                            desc: "Il ya eu un problème lors de la récupération des données"
                        });
                    });
            },
            /**
             * @public
             */
            save() {
                this.loading = true;
                new MenuApi().update({id_menu: "1", json: JSON.stringify(this.menu)})
                    .then(res => {
                        this.loading = false;
                        this.fetch()
                        console.log(res);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            /**
             * @public
             */
            clean() {
                this.type = Object.assign({}, {
                    title: "",
                    url: "",
                    subNavigations: []
                });
            },
            /**
             * @public
             */
            close() {
                this.modal = false;
            },
            /**
             * @public
             */
            open(type, i, j) {
                this.modal = true;
                if (type === "addNavigation") {
                    this.clean();
                    this.onOk = () => this[type](i, j);
                }
                else if (type === "addSubNavigation") {
                    this.clean();
                    this.onOk = () => this[type](i, j);
                }
                else if (type === "editNavigation") {
                    this[type](i, j);
                    this.onOk = () => this.upadteNavigation(i, j);
                }
                else if (type === "editSubNavigation") {
                    this[type](i, j);
                    this.onOk = () => this.upadteSubNavigation(i, j);
                }
            },
            /**
             * @public
             */
            upadteNavigation(i) {
                this.menu.navigations[i] = Object.assign({}, this.type);
            },
            /**
             * @public
             */
            upadteSubNavigation(i, j) {
                this.menu.navigations[i].subNavigations[j] = Object.assign({}, this.type);
            },
            /**
             * @public
             */
            editNavigation(i) {
                let navigations = this.menu.navigations;
                this.type = Object.assign({}, navigations[i]);
            },
            /**
             * @public
             */
            editSubNavigation(i, j) {
                let navigations = this.menu.navigations[i].subNavigations;
                this.type = Object.assign({}, navigations[j]);
            },
            /**
             * @public
             */
            deleteNavigation(i) {
                i = parseInt(i);
                let navigations = this.menu.navigations;
                navigations.splice(i, 1);
            },
            /**
             * @public
             */
            deleteSubNavigation(i, j) {
                i = parseInt(i);
                j = parseInt(j);
                let navigations = this.menu.navigations[i].subNavigations;
                navigations.splice(j, 1);
            },
            /**
             * @public
             */
            addNavigation() {
                let navigations = this.menu.navigations;
                navigations.push(Object.assign({}, this.type));
            },
            /**
             * @public
             */
            addSubNavigation(i) {
                i = parseInt(i);
                let navigations = this.menu.navigations[i].subNavigations;
                navigations.push(Object.assign({}, this.type));
            },
            /**
             * @public
             */
            left(i) {
                i = parseInt(i);
                if (i < 1) return;
                let navigations = this.menu.navigations;
                let temp = Object.assign({}, navigations[i]);
                navigations.splice(i, 1);
                navigations.splice(i - 1, 0, temp);
            },
            /**
             * @public
             */
            right(i) {
                i = parseInt(i);
                let navigations = this.menu.navigations;
                if (i >= navigations.length) return;
                let temp = Object.assign({}, navigations[i]);
                navigations.splice(i, 1);
                navigations.splice(i + 1, 0, temp);
            },
            /**
             * @public
             */
            top(i, j) {
                i = parseInt(i);
                j = parseInt(j);
                if (j < 1) return;
                let navigations = this.menu.navigations[i].subNavigations;
                let temp = Object.assign({}, navigations[j]);
                navigations.splice(j, 1);
                navigations.splice(j - 1, 0, temp);
            },
            /**
             * @public
             */
            bottom(i, j) {
                i = parseInt(i);
                j = parseInt(j);
                let navigations = this.menu.navigations[i].subNavigations;
                if (j >= navigations.length) return;
                let temp = Object.assign({}, navigations[j]);
                navigations.splice(j, 1);
                navigations.splice(j + 1, 0, temp);
            },
        }
    };
</script>
