<style scoped>
    .PageCreate {
    }
</style>
<template>
    <v-page>
        <Breadcrumb>
            <BreadcrumbItem to="/">
                <Icon type="ios-home-outline"></Icon>
                Home
            </BreadcrumbItem>
            <BreadcrumbItem>
                <Icon type="social-buffer-outline"></Icon>
                Modules
            </BreadcrumbItem>
            <BreadcrumbItem to="/module-page">
                <Icon type="pound"></Icon>
                Page
            </BreadcrumbItem>
        </Breadcrumb><br>
        <Row>
            <i-col offset="4" span="16">
                <i-input v-model="page.title" placeholder="titre" style="width: 100%"></i-input>
                <br><br>
                <quill-editor v-model="page.content"
                              ref="myQuillEditor"
                              :options="editorOption"
                              @blur="onEditorBlur($event)"
                              @focus="onEditorFocus($event)"
                              @ready="onEditorReady($event)">
                </quill-editor>
                <br>
                Active <Checkbox v-model="page.active"></Checkbox>
                <br><br>
                <i-input v-model="page.urlsimple" placeholder="URL simplifiée" style="width: 100%"></i-input>
                <br><br>
                <i-button type="primary" @click="submitForm()">Créer</i-button>
            </i-col>
            <i-col span="4"></i-col>
        </Row>
    </v-page>
</template>
<script>

    import PageApi from "../api/page/PageApi";
    import PageType from "../type/page/PageType";
    import Type from "../type/Type";
    import ICol from "../../node_modules/iview/src/components/grid/col.vue";

    export default {

        components: {ICol},
        props: [],
        data() {
            return {
                page: new PageType(),
                editorOption: {
                    // some quill options
                }
            }
        },
        mounted() {
        },
        methods: {
            submitForm() {
                new PageApi().insert(this.page.toBack()).then(res => {
                    this.$Notice.success({
                        title: 'Modification',
                        desc: "La page a été créé avec succés"
                    });
                }).catch(err => {
                    console.error(err);
                });
            },
            onEditorBlur(quill) {
                console.log('editor blur!', quill)
            },
            onEditorFocus(quill) {
                console.log('editor focus!', quill)
            },
            onEditorReady(quill) {
                console.log('editor ready!', quill)
            },
            onEditorChange({quill, html, text}) {
                console.log('editor change!', quill, html, text);
                this.content = html
            }
        },
        computed: {
            editor() {
                return this.$refs.myQuillEditor.quill
            }
        },
    }
</script>
