<style scoped>
    .RoleCreate {
    }
</style>
<template>
    <v-page>
        <Breadcrumb>
            <BreadcrumbItem to="/">
                <Icon type="ios-home-outline"></Icon>
                Home
            </BreadcrumbItem>
            <BreadcrumbItem>
                <Icon type="social-buffer-outline"></Icon>
                Modules
            </BreadcrumbItem>
            <BreadcrumbItem to="/module-role">
                <Icon type="pound"></Icon>
                Role
            </BreadcrumbItem>
        </Breadcrumb>
        <br>
        <Row>
            <i-col offset="4" span="16">
                <i-input v-model="role.name" placeholder="nom" style="width: 100%"></i-input>
                <br><br>
            </i-col>
        </Row>
        <Row>
            <i-col offset="4" span="16">
                <h2>Accès</h2><br>
            </i-col>
            <i-col offset="4">
                <i-col v-for="acl in acls" :key="acl.id" span="6">
                    <h3>{{acl.name}}</h3>
                    <Checkbox @on-change="allClicked(acl.roles)">All</Checkbox>
                    <div v-for="role in acl.roles" :key="acl.id">
                        <Checkbox v-model="role.checked">{{role.name}}</Checkbox>
                    </div>
                </i-col>
            </i-col>

        </Row>
        <Row>
            <i-col offset="4" span="16">
                <br><br>
                <i-button type="primary" @click="submitForm()">Créer</i-button>
            </i-col>
        </Row>
    </v-page>
</template>
<script>

    import RoleApi from "../api/role/RoleApi";
    import PageApi from "../api/page/PageApi";
    import RoleType from "../type/role/RoleType";
    import PageType from "../type/page/PageType";
    import Type from "../type/Type";
    import AclApi from "../api/acl/AclApi";

    export default {

        components: {},
        props: [],
        data() {
            return {
                role: new RoleType(),
                acls: [],
                lisacl: []
            }
        },
        mounted() {
            new AclApi().select().then(res => {
                this.acls = this._acls(res.data);
                console.log(this.acls);
            }).catch(err => {
                console.error(err);
            });
        },
        methods: {
            submitForm() {
                let listAcl = [];
                for (let a of this.acls) {
                    for (let b of a.roles) {
                        if (b.checked) {
                            listAcl.push(b);
                        }
                    }
                }
                new RoleApi().insert({'name': this.role.name, 'acls': JSON.stringify(listAcl)}).then(res => {
                    this.$Notice.success({
                        title: 'Création',
                        desc: "Le role a été créé avec succés"
                    });
                }).catch(err => {
                    console.error(err);
                });
            },
            allClicked(acls) {
                for (let acl of acls) {
                    acl.checked = !acl.checked;
                }
            },
            _acls: function (_acls) {
                return _acls.map(acl => {
                    acl.roles = acl.roles.map(role => {
                        role.checked = false;
                        return role;
                    });
                    return acl;
                })
            }
        },
    }
</script>
