<style scoped>
    .RoleUpdate {
    }
</style>
<template>
    <v-page>
        <Breadcrumb>
            <BreadcrumbItem to="/">
                <Icon type="ios-home-outline"></Icon>
                Home
            </BreadcrumbItem>
            <BreadcrumbItem>
                <Icon type="social-buffer-outline"></Icon>
                Modules
            </BreadcrumbItem>
            <BreadcrumbItem to="/module-role">
                <Icon type="pound"></Icon>
                Role
            </BreadcrumbItem>
        </Breadcrumb>
        <br>
        <Row>
            <i-col offset="4" span="16">
                <i-input v-model="role" placeholder="titre" style="width: 100%"></i-input>
                <br><br>
            </i-col>
        </Row>
        <Row>
            <i-col offset="4" span="16">
                <h2>Accès</h2><br>
            </i-col>
            <i-col offset="4">
                <i-col v-for="acl in acls" :key="acl.id" span="6">
                    <h3>{{acl.name}}</h3>
                    <Checkbox @on-change="allClicked(acl.roles)">All</Checkbox>
                    <div v-for="role in acl.roles" :key="acl.id">
                        <Checkbox v-model="role.checked">{{role.name}}</Checkbox>
                    </div>
                </i-col>
            </i-col>
        </Row>
        <Row>
            <i-col offset="4" span="16">
                <br><br>
                <i-button type="primary" @click="submitForm()">Modifier</i-button>
            </i-col>
        </Row>
    </v-page>
</template>
<script>

    import RoleApi from "../api/role/RoleApi";
    import RoleType from "../type/role/RoleType";
    import Type from "../type/Type";
    import ICol from "../../node_modules/iview/src/components/grid/col.vue";
    import AclApi from "../api/acl/AclApi";

    export default {
        props: [],
        data() {
            return {
                role: "",
                acls: []
            }
        },
        mounted() {
            new AclApi().select({id_role: this.$route.params.id}).then(res => {
                this.acls = this._acls(res.data);
            }).catch(err => {
                console.error(err);
            });

            new RoleApi().select({id_role: this.$route.params.id}).then(res => {
                this.role = res.data['role'][0].name;
                let roles = res.data['roles'];
                if (roles.length) {
                    let listacl = [];
                    for (let r of roles) {
                        listacl.push(r.id_acl);
                    }
                    for (let acl of this.acls) {
                        for (let a of acl.roles) {
                            if (listacl.includes(a.id_acl)) {
                                a.checked = true;
                            }
                        }
                    }
                }
            }).catch(err => {
                console.error(err);
                this.$Notice.error({
                    title: 'Erreur',
                    desc: 'Il ya eu un problème lors de la récupération des données'
                });
            });
        },
        methods: {
            submitForm() {
                let listAcl = [];
                for (let a of this.acls) {
                    for (let b of a.roles) {
                        if (b.checked) {
                            listAcl.push(b);
                        }
                    }
                }
                new RoleApi().insert({
                    'name': this.role,
                    'acls': JSON.stringify(listAcl),
                    'id_role': this.$route.params.id
                }).then(res => {
                    this.$Notice.success({
                        title: 'Modification',
                        desc: "Le role a été modifié avec succés"
                    });
                    this.$router.push('/module-role');
                }).catch(err => {
                    console.error(err);
                });
            },
            allClicked(acls) {
                for (let acl of acls) {
                    acl.checked = !acl.checked;
                }
            },
            _acls: function (_acls) {
                return _acls.map(acl => {
                    acl.roles = acl.roles.map(role => {
                        role.checked = false;
                        return role;
                    });
                    return acl;
                })
            }
        },
    }
</script>
