<style scoped>
    .Settings {
    }
</style>
<template>
    <v-page>
        <div class="Settings">
            <Breadcrumb>
                <BreadcrumbItem to="/">
                    <Icon type="ios-home-outline"></Icon>
                    Home
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <Icon type="pound"></Icon>
                    Paramètres
                </BreadcrumbItem>
            </Breadcrumb>
            <br>
        </div>
    </v-page>
</template>
<script>
    export default {
        name: 'Settings',
        data() {
            return {}
        },
        mounted() {
        },
        created() {
        },
        methods: {}
    }
</script>