<style>
    .Column {
        border-right: 1px solid #e9eaec;
        border-bottom: 1px solid #e9eaec;
        word-break: break-all;
        padding-left: 18px;
        padding-right: 18px;
    }
</style>

<template>
    <td class="Column">
        <slot>
        </slot>
    </td>
</template>

<script>
    export default {}
</script>