<style scoped>
    .Header {
        width: 100%;
        height: 100%;
        background: #2f9df2;
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
    }

    .Header--logo {
        padding-left: 16px;
    }

    .Header--logout {
        display: inline-block;
        cursor: pointer;
        padding-right: 16px;
    }

  .Header--logoLink {
    border: solid 1px white;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    padding: 4px 8px;
    margin-left: 16px;
  }
</style>
<template>
    <div class="Header">
        <div class="Header--logo">
            Upscale Network
          <a href="#/template/home" class="Header--logoLink">Prévisualiser site</a>
        </div>
        <div class="Header--user">
            <span>You are connected as </span>
            <b>
                <Icon type="person"></Icon>
                <span>{{$store.state.store.user.firstName}}</span>
            </b>
        </div>
        <div class="Header--logout" @click="logout()">
            <Icon type="power"></Icon>
            <span>Log out</span>
        </div>
    </div>
</template>
<script>
    import UserApi from "../api/user/UserApi";
    export default {
        props: [],
        data() {
            return {}
        },
        mounted() {
        },
        methods: {
            logout(){
                new UserApi().disconnect({
                    id_user: this.$store.state.store.user.id,
                }).then(res => {
                    console.log(res);
                    this.$Notice.success({
                        title: 'Déconnexion',
                        desc: 'Vous êtes déconnecté'
                    });
                    this.$store.commit('reset');
                    this.$router.push({ path: '/connection' })
                }).catch(err => {
                    this.$Notice.error({
                        title: 'Erreur',
                        desc: 'Une erreur est survenu lors de la déconnexion'
                    });
                });
            }
        }
    }
</script>
