<style scoped>
  .VImage {
    display: inline-block;
    width: 300px;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.05);
  }

  .VImage--img img {
    position: absolute;
  }

  .VImage--loader {
    width: 100%;
    height: 100%;
  }

  .VImage--round {
    border-radius: 50%;
  }
</style>
<template>
  <div class="VImage"
       :style="{width:width,height:height}">
    <div class="VImage--img">
      <img :id="id" :style="css_img"
           :src="src"/>
    </div>
  </div>
</template>
<script>
  import uuidV4 from "uuid/v4";

  export default {
    props: {
      id: {
        default() {
          return uuidV4();
        }
      },
      width: {
        default() {
          return "100%";
        }
      },
      height: {

        default() {
          return "100%";
        }
      },
      src: {
        default() {
          return "";
        }
      },
      round: {
        default() {
          return false;
        }
      },
    },
    data() {
      return {
        element: null,
        loaded: false,
        img: null,
        css_img: {
          "width": "100%",
          "height": "auto",
          "top": "0px",
          "left": "0px"
        }
      }
    },
    mounted() {
      // on attend que l'image soit chargé
      this.element = this.$el;
      let img = this.element.querySelector(".VImage--img img");
      img.onload = () => {
        this.img = img;
        // on lance le component
        this.start();
      };
    },
    beforeMount() {
      this.eventRegister();
    },
    watch: {
      /**
       * @description
       */
      width() {
        this.mutationPositionImage();
      },
      /**
       * @description
       */
      height() {
        this.mutationPositionImage();
      }

    },
    methods: {
      /**
       * Fonction appeler en premier par vue
       */
      start() {
        this.setRound();
        this.mutationPositionImage();
      },
      /**
       * Si on veut une image ronde
       */
      setRound() {
        if (!this.round) return;
        let img = this.element.querySelector(".VImage--img img");
        img.classList.add("VImage--round");
        this.$el.classList.add("VImage--round");
      },
      /**
       * Enregistre les événement
       */
      eventRegister() {
        // quand la window ce resize
        window.addEventListener("resize", () => {
          this.mutationPositionImage();
        });
      },
      /**
       * Control si l'image est plus grande
       */
      isBigger() {
        var container = this.element;
        var img = this.img;
        return img.clientHeight > container.clientHeight;
      },
      /**
       *Ccontrol si l'image est plus petite
       */
      isSmaller() {
        var container = this.element;
        var img = this.img;
        return img.clientHeight < container.clientHeight;
      },
      /**
       * Modifie si l'image est plus petite que son parent
       */
      muteSmaller() {
        var container = this.element;
        var img = this.img;
        this.css_img.height = "100%";
        this.css_img.width = "auto";
        this.$nextTick(() => {
          var left = (container.clientWidth - img.clientWidth) / 2;
          this.css_img.left = left.toString() + "px";
        });
      },
      /**
       * Valeur par defaut d'une image
       */
      muteDefault() {
        this.css_img = {
          "width": "100%",
          "height": "auto",
          "top": "0px",
          "left": "0px"
        };
      },
      /**
       * Modifie si l'image est plus grande que son parent
       */
      muteBigger() {
        var container = this.element;
        var img = this.img;
        this.css_img.height = "auto";
        this.css_img.width = "100%";
        this.$nextTick(() => {
          var top = (container.clientHeight - img.clientHeight) / 2;
          this.css_img.top = top.toString() + "px";
        });
      },
      /**
       * Vérifie la taille de l'image
       */
      mutationPositionImage() {
        if (this.loaded === false) {
        }
        this.loaded = true;
        this.muteDefault();
        this.$nextTick(() => {
          if (this.isSmaller()) {
            this.muteSmaller();
          }
          else if (this.isBigger()) {
            this.muteBigger();
          }
        });
      }
    }
  }
</script>
