<style scoped>
    .Page {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .Page--header {
        height: 50px;
    }

    .Page--menu {
        position: absolute;
        left: 0;
        top: 50px;
        height: calc(100% - 50px);
        background: #495060;
    }

    .Page--body {
        margin-left: 240px;
        overflow: auto;
        height: calc(100% - 50px);
        box-sizing: border-box;
    }

    .Page--bodyContent {
        padding: 32px;
    }

    .Page--bodyHeader {
        background: white;
        font-size: 32px;
        padding: 16px 32px;
        border-bottom: solid 1px #e8e8e8;
    }
</style>
<template>
    <div class="Page">
        <div class="Page--header">
            <v-header></v-header>
        </div>
        <div class="Page--menu">
            <v-menu></v-menu>
        </div>
        <div class="Page--body">
            <div class="Page--bodyHeader">
                <Icon :type="icon"></Icon>
                {{$router.history.current.name}}
            </div>
            <div class="Page--bodyContent">
                <slot name="default"></slot>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [],
        data() {
            return {
                icon: "help-buoy"
            }
        },
        mounted() {
            let icons = {
                "/home": "help-buoy",
                "/settings": "gear-b",
                "/module-page": "android-document",
                "/module-user": "person-stalker",
                "/module-menu": "navicon-round",
            };
            this.icon = icons[this.$router.history.current.path];
        },
        methods: {}
    }
</script>