<style>
</style>

<template>
    <i-input :style="{width: '30%'}" id="searchbar" @on-keyup="searchvalue()" v-model="search"
             placeholder="recherchez..." style="width: 100%"></i-input>
</template>

<script>
    export default {
        methods: {
            searchvalue() {
                let regex = new RegExp(this.search, 'gi');
                this.result = this.datas.filter((data) => {
                    if (this.search === "") {
                        console.log("On passe la");
                        return true;
                    }
                    for (let param of this.params) {
                        if (regex.test(data[param])) {
                            console.log("On passe ici");
                            return true;
                        }
                    }
                    console.log("On passe parla");

                    return false;
                });
                this.datareturned(this.result);
            }
        },
        data() {
            return {
                search: "",
                result: []
            }
        },
        props: {
            datas: {
                default: function () {
                    return [];
                }
            },
            datareturned: {
                default: function () {
                    return function () {
                    };
                }
            },
            params: {
                default: function () {
                    return [];
                }
            }
        }
    }
</script>