<style>
    .Table {
        width: 100%;
        table-layout: fixed;
        color: #495060;
        font-size: 12px;
        border-spacing: 0px;
        border: 1px solid #dddee1;
    }
</style>

<template>
    <table class="Table">
        <slot>
        </slot>
    </table>
</template>

<script>
    export default {}
</script>