<style>
    .TableHead {

    }

    .TableHead .Column {
        background-color: #f8f8f9;
        font-weight: bold;
    }

    .TableHead .Line .Column {
        height: 40px;
    }
</style>

<template>
    <thead class="TableHead">
    <slot>
    </slot>
    </thead>
</template>

<script>
    export default {}
</script>