<style>
    .TableBody {

    }

    .TableBody .Column {
        background-color: #ffffff;
    }

    .TableBody .Line .Column {
        height: 50px;
    }
</style>

<template>
    <tbody class="TableBody">
    <slot>
    </slot>
    </tbody>
</template>

<script>
    export default {}
</script>