<style>
    html {
        width: 100%;
        height: 100%;
    }
    body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    #App {
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #F5F5F5;
        font-size: 16px;
    }
</style>
<template>
    <div id="App">
        <router-view/>
    </div>
</template>
<script>
    export default {
        name: 'App'
    }
</script>
